UPDATE matches SET started_at = '2026-06-14T01:00:00.000Z' WHERE id = 'm8';
UPDATE matches SET started_at = '2026-06-17T01:00:00.000Z' WHERE id = 'm20';
UPDATE matches SET started_at = '2026-06-20T00:00:00.000Z' WHERE id = 'm32';
UPDATE matches SET started_at = '2026-06-23T00:00:00.000Z' WHERE id = 'm44';
UPDATE matches SET started_at = '2026-06-27T00:00:00.000Z' WHERE id = 'm65';
UPDATE matches SET started_at = '2026-06-27T00:00:00.000Z' WHERE id = 'm66';
